@import url("./header.css");
@import url("./nav.css");
@import url("./sidebar.css");
@import url("./main.css");
@import url("./footer.css");

:root > body {
	min-height: 100vh;
}

:root[layout="default"] > body {
	grid-template-columns: 2fr 75fr 23fr;
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main sidebar'
	'. main .'
	'footer footer footer';
}

:root[layout="home"] > body {
	grid-template-columns: 2fr 75fr 23fr;
	grid-template-rows: minmax(calc(100vh - var(--nav-height, 2.5rem)), auto) var(--nav-height, 2.5rem);
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main sidebar'
	'. main .'
	'footer footer footer';
}

:root[layout="full-width"] > body {
	grid-template-columns: 5fr 90fr 5fr;
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main .'
	'footer footer footer';
}


@media (max-width: 700px) {
	:root[layout="default"] > body, :root[layout="home"] > body {
		grid-template-columns: 100vw;
		grid-template-areas: 'header' 'nav' 'main' 'sidebar' 'footer';
	}

	:root[data-layout="full-width"] > body {
		grid-template-columns: 100vw;
		grid-template-areas: 'header' 'nav' 'main' 'footer';
	}
}

button:not([hidden])[is="share-button"] {
	position: fixed;
	z-index: 3;
	bottom: 1.1em;
	right: 1.1em;
	box-shadow: var(--shadow-x, 0) var(--shadow-y, 2px) var(--shadow-blur, 10px) var(--shadow-spread, 0) var(--shadow-color, rgba(0,0,0,.2));
	border-radius: 50%;
	padding: 0.8rem;
	text-align: center;
	vertical-align: middle;
	font-size: 1.65rem;
	line-height: 1;
}
