:host {
	display: inline-block;
	padding: 0.4em 0.8em;
	border: 1px solid currentColor;
	border-radius: 7px;
	background: inherit;
	color: inherit;
	color-scheme: light dark;
}

:host([theme="light"]) {
	color-scheme: light;
}

:host([theme="dark"]) {
	color-scheme: dark;
}

[part~="section"] {
	padding: 0.4em 0.8em;
	border-color: currentColor;
	border-style: solid;
	border-width: 0 0 1px 0;
}

[part~="section"]:not(:last-of-type) {
	margin-bottom: 0.6em;
}
