<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="./block.css" crossorigin="anonymous" referrerpolicy="no-referrer" media="all" />
	</head>
	<body>
		<div id="container" part="container">
			<h3 id="label" part="text label">
				<slot name="label">No Label</slot>
			</h3>
			<div id="image" part="image">
				<slot name="image">
					<svg viewBox="0 0 12 16" height="80" width="60" fill="currentColor" role="img" aria-hidden="true">
						<path fill-rule="evenodd" d="M6 5h2v2H6V5zm6-.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v11l3-5 2 4 2-2 3 3V5z"/>
					</svg>
				</slot>
			</div>
			<div id="description" part="text description">
				<slot name="description">No Description</slot>
			</div>
			<div id="call-to-action">
				<span part="icon call-icon">
					<slot name="call-icon">
						<svg width="17" height="17" fill="currentColor" viewBox="0 0 16 16"  role="img" aria-hidden="true">
							<path d="M13.032 1c.534 0 .969.427.969.969v.062c-.017 6.613-5.383 11.97-12 11.97H1.97c-.545 0-.97-.447-.97-1v-3c0-.555.447-1 1-1h2c.555 0 1 .445 1 1v.468A8.967 8.967 0 0 0 10.47 5H10c-.553 0-1-.446-1-1V2c0-.554.447-1 1-1h3.032z"/>
						</svg>
					</slot>
				</span>
				<span part="icon email-icon">
					<slot name="email-icon">
						<svg width="14" height="16" fill="currentColor" viewBox="0 0 14 16"  role="img" aria-hidden="true">
								<path fill-rule="evenodd" d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z"/>
						</svg>
					</slot>
				</span>
				<span part="icon link-icon">
					<slot name="link-icon">
						<svg width="12" height="16" fill="currentColor" viewBox="0 0 12 16"  role="img" aria-hidden="true">
							<path fill-rule="evenodd" d="M11 10h1v3c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3v1H1v10h10v-3zM6 2l2.25 2.25L5 7.5 6.5 9l3.25-3.25L12 8V2H6z"/>
						</svg>
					</slot>
				</span>
				<span part="icon geo-icon">
					<slot name="geo-icon">
						<svg width="17" height="17" fill="currentColor" viewBox="0 0 16 16.003"  role="img" aria-hidden="true">
							<path d="M8 0a5 5 0 0 0-5 5c0 .173.014.332.031.5.014.167.036.336.063.5C3.666 9.514 6 12.003 8 14.003c2-2 4.334-4.489 4.906-8.003a6.38 6.38 0 0 0 .063-.5c.017-.168.03-.327.03-.5a5 5 0 0 0-5-5zm0 3a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" solid-color="#000000"/>
						</svg>
					</slot>
				</span>
				<span part="text call-to-action">
					<slot name="calltoaction">No Call-to-Action</slot>
				</span>
			</div>
			<a href="https://ads.kernvalley.us?utm_source=ad-info-click&amp;utm_medium=web" title="Kern Valley Ads" rel="noopener referrer external" target="_blank" id="branding" part="branding">
				<svg width="14" height="16" fill="currentColor" viewBox="0 0 14 16" role="img" aria-hidden="true">
					<path fill-rule="evenodd" d="M6.3 5.69a.942.942 0 0 1-.28-.7c0-.28.09-.52.28-.7.19-.18.42-.28.7-.28.28 0 .52.09.7.28.18.19.28.42.28.7 0 .28-.09.52-.28.7a1 1 0 0 1-.7.3c-.28 0-.52-.11-.7-.3zM8 7.99c-.02-.25-.11-.48-.31-.69-.2-.19-.42-.3-.69-.31H6c-.27.02-.48.13-.69.31-.2.2-.3.44-.31.69h1v3c.02.27.11.5.31.69.2.2.42.31.69.31h1c.27 0 .48-.11.69-.31.2-.19.3-.42.31-.69H8V7.98v.01zM7 2.3c-3.14 0-5.7 2.54-5.7 5.68 0 3.14 2.56 5.7 5.7 5.7s5.7-2.55 5.7-5.7c0-3.15-2.56-5.69-5.7-5.69v.01zM7 .98c3.86 0 7 3.14 7 7s-3.14 7-7 7-7-3.12-7-7 3.14-7 7-7z"/>
				</svg>
				<span>Ads by KernValley.US</span>
			</a>
		</div>
	</body>
</html>	
