:host {
	display: inline-block;
	border: none;
}

:host([url]) {
	cursor: pointer;
}

:host(:not([url^="tel:"])) [part~="call-icon"] {
	display: none;
}

:host(:not([url^="mailto:"])) [part~="email-icon"] {
	display: none;
}

:host(:not([url^="geo:"])) [part~="geo-icon"] {
	display: none;
}

:host(:not([url^="https://"])) [part~="link-icon"] {
	display: none;
}

:host([url]) #call-to-action {
	color: var(--link-color, #3575ea);
	text-decoration: underline;
}

[part~="icon"] svg {
	vertical-align: middle;
	height: 1em;
	width: auto;
}

#container {
	box-sizing: border-box;
	font-size: 14px;
	display: grid;
	column-gap: 12px;
	row-gap: 6px;
	max-width: 100%;
	max-height: 100%;
	padding: 8px;
	background-color: #fafafa;
	color: #242424;
	border: 1px solid #dadada;
	border-radius: 6px;
	contain: strict;
	content-visibility: auto;
}

:host([layout="card"]) #container, :host(:not([layout])) #container {
	grid-template-areas: "image label" "image description" "image cta";
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 30px 1fr auto;
	height: var(--ad-block-height, 180px);
	width: var(--ad-block-width, 380px);
}

:host([layout="stack"]) #container {
	grid-template-areas: "label label label" ". image ." ". description ." ". cta cta";
	grid-template-rows: 30px 180px 1fr auto;
	grid-template-columns: 10px 1fr 10px;
	width: var(--ad-block-stack-width, 280px);
	height: var(--ad-block-stack-height, 350px);
}

:host([layout="text"]) #container {
	grid-template-areas: "label label label"  "description description description" ". cta cta";
	grid-template-rows: 30px auto 1fr;
	grid-template-columns: 10px 1fr 10px;
	width: var(--ad-block-text-width, 280px);
	height: var(--ad-block-text-height, 120px);
}

:host([layout="text"]) #image, :host([layout="text"]) slot[name="image"] svg {
	display: none;
}

@media (prefers-color-scheme: dark) {
	:host(:not([theme="light"])) #container {
		background-color: #212121;
		color: #fefefe;
		border-color: #cacaca;
	}
}

:host([theme="dark"]) #container {
	background-color: #212121;
	color: #fefefe;
	border-color: #cacaca;
}

:host([theme="inherit"]) #container {
	background-color: inherit;
	color: inherit;
	border-color: inherit;
}

#label {
	grid-area: label;
	text-align: center;
	overflow: auto;
	margin: 0;
}

:host([layout="card"]) #label, :host(:not([layout])) #label {
	margin: 4px;
}

#description {
	grid-area: description;
	overflow: auto;
}

#image {
	grid-area: image;
	overflow: hidden;
}

#call-to-action {
	grid-area: cta;
	overflow: auto;
}

::slotted([slot="image"]), slot[name="image"] > svg {
	width: 100%;
	height: 100% !important;
	max-width: 100%;
	max-height: 100%;
}

:host([imagefit="fill"]) ::slotted([slot="image"]) {
	object-fit: fill;
}

:host([imagefit="cover"]) ::slotted([slot="image"]) {
	object-fit: cover;
}

:host([imagefit="contain"]) ::slotted([slot="image"]) {
	object-fit: contain;
}

:host([imagefit="scale-down"]) ::slotted([slot="image"]) {
	object-fit: scale-down;
}

:host([imageposition="top"]) ::slotted([slot="image"]) {
	object-position: center top;
}

:host([imageposition="bottom"]) ::slotted([slot="image"]) {
	object-position: center bottom;
}

:host([imageposition="right"]) ::slotted([slot="image"]) {
	object-position: right center;
}

:host([imageposition="left"]) ::slotted([slot="image"]) {
	object-position: left center;
}

:host([imageposition="top-left"]) ::slotted([slot="image"]) {
	object-position: left top;
}

:host([imageposition="bottom-left"]) ::slotted([slot="image"]) {
	object-position: left bottom;
}

:host([imageposition="top-right"]) ::slotted([slot="image"]) {
	object-position: right top;
}

:host([imageposition="bottom-right"]) ::slotted([slot="image"]) {
	object-position: bottom top;
}

:host([imageposition="top-right"]) ::slotted([slot="image"]) {
	object-position: right top;
}
