:host {
	display: inline-block;
	cursor: pointer;
}

:host(._state--disabled) {
	cursor: invalid;
	pointer-events: none;
}

:host(:--disabled) {
	cursor: invalid;
	pointer-events: none;
}

:host(:--readonly) {
	pointer-events: none;
}

:host(._state--readonly) {
	pointer-events: none;
}

:host(:--loading) {
	visibility: hidden;
}

:host(._state--loading) {
	visibility: hidden;
}

[part~="container"] {
	display: grid;
	grid-template-areas: "off on";
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

[part~="toggle"] {
	width: 40%;
	height: 30px;
	transition: transform 600ms ease-out;
	transform: none;
	background: red;
	float: left;
}

[part~="off"] {
	grid-area: off;
}

[part~="on"] {
	grid-area: on;
}

:host(._state--checked) [part~="toggle"] {
	transform: translatex(100%);
}

:host(:--cheked) [part~="toggle"] {
	transform: translatex(100%);
}
