<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("https://cdn.chriszuber.com/css/core-css/element.css");
			@import url("https://cdn.chriszuber.com/css/core-css/class-rules.css");
		</style>
	</head>
	<body>
		<dialog id="login-dialog">
			<form>
				<fieldset>
					<legend>
						<slot name="legend">Login</slot>
					</legend>
					<div class="center">
						<img is="gravatar-img" alt="Gravatar" class="round shadow-dark" decoding="async" referrerpolicy="no-referrer" crossorigin="annonymous" sizes="10rem" hash="" />
					</div>
					<div>
						<label for="username">
							<slot name="username-label">Username</slot>
						</label>
						<input type="email" name="username" id="username" placeholder="user@example.com" autocomplete="username" required="" />
					</div>
					<div>
						<label for="password">
							<slot name="password-label">Password</slot>
						</label>
						<input type="password" name="password" id="password" minlength="8" maxlength="72" autocomplete="current-password" placeholder="********" required="" />
					</div>
				</fieldset>
				<button type="submit" class="btn btn-accept" title="Submit">
					<slot name="submit-btn">Submit</button>
				</button>
				<button type="reset" class="btn btn-reject" title="Cancel">
					<slot name="reset-btn">Cancel</slot>
				</slot>
			</form>
			<button type="button" is="register-button" class="btn btn-primary">
				<slot name="register-btn">Register</slot>
			</button>
		</dialog>
	</body>
</html>
