:host {
	display: inline-block;
	position: relative;
	max-width: 100%;
	background-color: inherit;
	color: inherit;
}

:host(:not([controls])) [part~="nav-btn"] {
	display: none;
}

:host(:not(:fullscreen)) [part~="exit-fullscreen-icon"],
:host(:fullscreen) [part~="enter-fullscreen-icon"] {
	display: none;
}

:host(:fullscreen) [part~="nav-btn"] {
	top: calc(50vh - 0.5em);
	bottom: calc(50vh - 0.5em)
}

:host(:fullscreen) [part~="container"] {
	--slideshow-width: 100vw;
	--slideshow-height: 100vh;
	width: 100vw;
	height: 100vh;
}

:host(:not([allowfullscreen])) [part~="fullscreen-btn"] {
	display: none;
}

:host(:fullscreen) [part~="current"] {
	width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box;
}

.background-transparent {
	background-color: transparent;
}

.icon {
	color: inherit;
	max-width: 100%;
	max-height: 100%;
	width: 1em;
	height: 1em;
	vertical-align: baseline;
}

.current-color {
	fill: currentColor;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.flex {
	display: flex;
}

.inline-block {
	display: inline-block;
}

.btn {
	cursor: pointer;
}

.btn-next {
	right: 0;
}

.btn-prev {
	left: 0;
}

[part~="nav-btn"] {
	font-size: 3em;
	padding: 0;
	height: 1em;
	width: 1em;
	top: calc(var(--slideshow-height, 320px) / 2 - 0.5em);
	bottom: calc(var(--slideshow-height, 100%) / 2 - 0.5em);
}

[part~="nav-btn"], [part~="fullscreen-btn"] {
	color: inherit;
	border: none;
	z-index: 2;
}

::slotted([slot="displayed"]) {
	position: absolute;
	top: 0;
	left: auto;
	right: auto;
	width: auto;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	object-fit: contain;
	object-position: center;
	display: inline-block;
	transform: none;
	transform-origin: center;
	overflow: auto;
}

/* Overwrite styles to ensure proper alignment for nav-btn icons */
::slotted(svg.icon) {
	vertical-align: baseline !important;
}

[part~="container"] {
	contain: strict;
	max-width: 100%;
	width: var(--slideshow-width, 568px);
	height: var(--slideshow-height, 320px);
}

[part~="current"] {
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: auto;
	right: auto;
	width: 100%;
	max-width: 100%;
	height: var(--slideshow-height, 320px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform-origin: center;
	clear: both;
}

[part~="fullscreen-btn"] {
	font-size: 1.3em;
	right: 0.4em;
	top: 0.4em;
}

@media (any-hover: hover) {
	[part~="container"] [part~="controls"] {
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}

	[part~="container"]:hover [part~="controls"],
	[part~="container"]:focus-within [part~="controls"],
	[part~="container"] [part~="controls"]:focus {
		opacity: 1;
	}
}
