<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<div part="container" class="slide-container realtive">
			<button type="button" part="nav-btn prev-btn" class="background-transparent absolute btn btn-nav btn-prev" data-action="prev" aria-label="Previous slide" title="Previous slide">
				<slot name="prev-icon">
					<svg class="current-color icon" viewBox="0 0 16 16" role="img" aria-hidden="">
						<path d="M4.56 8l5.719 5.719c.196.196.463.281.719.281h1v-1a1.01 1.01 0 0 0-.282-.719l-4.28-4.28 4.28-4.282A1.01 1.01 0 0 0 11.998 3V2h-1a1.01 1.01 0 0 0-.72.281z"/>
					</svg>
				</slot>
			</button>
			<div part="current" class="relative">
				<slot name="displayed"></slot>
			</div>
			<button type="button" part="nav-btn next-btn" class="background-transparent absolute btn btn-nav btn-next" data-action="next" aria-label="Next slide" title="Next slide">
				<slot name="next-icon">
					<svg class="current-color icon" viewBox="0 0 16 16" role="img" aria-hidden="">
						<path d="M11.44 8l-5.719 5.719a1.01 1.01 0 0 1-.719.281h-1v-1c0-.256.086-.523.282-.719l4.28-4.28-4.28-4.282A1.01 1.01 0 0 1 4.002 3V2h1c.256 0 .523.086.72.281z"/>
					</svg>
				</slot>
			</button>
		</div>
		<slot id="images" name="slide" hidden=""></slot>
	</body>
</html>
