<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("https://cdn.kernvalley.us/css/core-css/element.css");
			@import url("https://cdn.kernvalley.us/css/core-css/class-rules.css");
		</style>
	</head>
	<body>
		<dialog id="registration-dialog">
			<form>
				<input type="hidden" name="@context" value="https://schema.org" readonly="" />
				<input type="hidden" name="@type" value="Person" readonly="" />
				<fieldset>
					<legend>
						<slot name="legend">Register</slot>
					</legend>
					<div>
						<label for="given-name">Name</label>
						<input type="text" autocomplete="given-name" name="givenName" placeholder="First" required="" />
						<input type="text" autocomplete="additional-name" name="additionalName" placeholder="Middle" />
						<input type="text" autocomplete="family-name" name="familyName" placeholder="Last" required="" />
					</div>
					<div>
						<label for="username">
							<slot name="username-label">Email</slot>
						</label>
						<input type="email" name="username" id="username" placeholder="user@example.com" autocomplete="email" required="" />
					</div>
					<div>
						<label for="password">
							<slot name="password-label">Password</slot>
						</label>
						<input type="password" name="password" id="password" minlength="8" maxlength="72" autocomplete="new-password" placeholder="********" required="" />
					</div>
					<div>
						<label for="telephone">
							<slot name="telephone-label">Phone</slot>
						</label>
						<input type="tel" name="telephone" id="telephone" placeholder="555-555-5555" autocomplete="tel" />
					</div>
					<div>
						<label for="birth-date">Birthday</label>
						<input type="date" id="birth-date" name="birthDate" autocomplete="bday" placeholder="yyyy-mm-dd" />
					</div>
				</fieldset>
				<button type="submit" class="btn btn-accept" title="Submit">
					<slot name="submit-btn">
						<svg class="current-color icon" viewBox="0 0 12 16">
							<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"/>
						</svg>
						<span>Submit</span>
					</slot>
				</button>
				<button type="reset" class="btn btn-reject" title="Cancel">
					<slot name="reset-btn">
						<svg class="current-color icon" viewBox="0 0 12 16">
							<path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"/>
						</svg>
						<span>Cancel</span>
					</slot>
				</button>
			</form>
			<button type="button" is="login-button" class="btn btn-primary" title="Sign In">
				<slot name="login-btn">
					<svg class="current-color icon" viewBox="0 0 14 16">
						<path fill-rule="evenodd" d="M7 6.75V12h4V8h1v4c0 .55-.45 1-1 1H7v3l-5.45-2.72c-.33-.17-.55-.52-.55-.91V1c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v3h-1V1H3l4 2v2.25L10 3v2h4v2h-4v2L7 6.75z"></path>
					</svg>
					<span>Sign In</span>
				</slot>
			</button>
		</dialog>
	</body>
</html>
