<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/element.css" media="all" crossorigin="" />
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/class-rules.css" media="all" crossorigin="" />
		<link rel="stylesheet" href="./imgur-gallery.css" media="all" crossorigin="" />
	</head>
	<body>
		<figure class="relative">
			<slot name="active-image" class="inline-block"></slot>
			<button type="button" class="nav-button prev" data-click="prev">
				<slot name="prev-btn">&lt;</slot>
			</button>
			<button type="button" class="nav-button next" data-click="next">
				<slot name="next-btn">&gt;</slot>
			</button>
		</figure>
		<slot name="gallery" class="overflow-x-auto inline-block"></slot>
	</body>
</html>
