:host {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	padding: 0;
	border: none;
}

[part="container"] {
	--height: 64px;
	--width: 180px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background-color: #343434;
	color: #fefefe;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 18px;
	vertical-align: middle;
	box-sizing: border-box;
	min-width: var(--width, 180px);
	max-width: 100%;
	min-height: var(--height, 64px);
	padding: 6px 23px 6px 16px;
	border-radius: 2px;
	cursor: pointer;
}

[part="text"] {
	font-size: 22px;
}

:host([stack]) [part="container"] {
	display: block;
	text-align: center;
}

:host([stack]) [part="text"] {
	display: block;
}

:host([target="facebook"]) [part="container"] {
	background-color: #3c5a99;
}

:host([target="twitter"]) [part="container"] {
	background-color: #6babe1;
}

:host([target="reddit"]) [part="container"] {
	background-color: #ff4500;
}

:host([target="linkedin"]) [part="container"] {
	background-color: #1d87bd;
}

:host([target="email"]) [part="container"] {
	background-color: #343434;
}

:host(:not([target="facebook"]))  [part~="facebook-icon"] {
	display: none;
}

:host(:not([target="twitter"]))  [part~="twitter-icon"] {
	display: none;
}

:host(:not([target="reddit"]))  [part~="reddit-icon"] {
	display: none;
}

:host(:not([target="linkedin"]))  [part~="linkedin-icon"] {
	display: none;
}

:host(:not([target="gmail"])) [part~="gmail-icon"] {
	display: none;
}

:host(:not([target="email"]))  [part~="email-icon"] {
	display: none;
}

:host(:not([target="clipboard"])) [part~="clipboard-icon"] {
	display: none;
}

:host(:not([target="print"])) [part~="print-icon"] {
	display: none;
}

.inline-block {
	display: inline-block;
}

.current-color {
	fill: currentColor;
}
